.app {
  /* background:#13ad20; */
  height: 100vh;
  padding: 30px;
  text-align: -webkit-center;
}

.todo-list {
  background:#478b36;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
  text-align: center;
}

.todo {
  align-items: center;
  background: rgb(187, 231, 145);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
.textTodo{

  color:black;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: fantasy;

}
.backgroundApp{
  max-width: 400px;
  background-color: #478b36;
  padding: 14px;

}
